* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
  border: 1px solid black;
  height: 100vh;
}

.HomePage {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #42c2ff;
  padding: 0 4em;
}

.navbar > div:nth-child(2) {
  display: flex;
  min-width: 200px;
  justify-content: space-between;
}

.navbar > div:nth-child(2) > p {
  margin-top: 10px;
}

.navbar img {
  width: 50px;
  height: 50px;
}

.products {
  display: grid;
  width: 90%;
  margin-left: 5%;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 32.5%);
  margin-top: 20px;
}

.products img {
  width: 150px;
  height: 150px;
}

.products div {
  margin: 5px;
  padding: 5px;
  position: relative;
}

.products div > button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.products > div:hover {
  box-shadow: 0px 6px 10px 6px #85f4ff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.products > div:hover > div {
  filter: blur(2px);
  transition: 0.4s ease-in-out;
}

.detailsDiv {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 35%;
  height: 300px;
  border-radius: 1em;
  background-image: linear-gradient(to right, white, #b8fff9);
}

.flexProduct {
  display: flex;
  padding: 10%;
  justify-content: stretch;
}

.closing {
  float: right;
  margin: 10px 10px 0 0;
  font-size: xx-large;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.detailsDiv img {
  width: 200px;
  height: 200px;
  margin-right: 25px;
}
